body{
    
    width: 100vw;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Press Start 2P', monospace;
    font-size: 10px;
    background-image: url(../img/monitor-full.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #00ff00;
    background-color: black;
    
}

/*TODO: make media querries for background image. Max is TV-size.*/
.main-grid {
  display: grid;
  grid-template-columns: 15vw 25vw 20vw 25vw 15vw;
  grid-template-rows: 10vh 30vh 20vh 30vh 10vh;
  gap: 0px 0px;
  width: 100vw;
  height: 100vh;
  grid-template-areas:
    "border-l border-t border-t border-t border-r"
    "border-l main main main border-r"
    "border-l main main main border-r"
    "border-l main main main border-r"
    "border-l border-b border-b border-b border-r";
    
}
// .monitor-tb{
//     max-width: 100%;
// }
// .monitor-lr{
//     max-height: 100%;
// }
.main-content { 
    grid-area: main;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /*background: radial-gradient(circle, rgba(25,25,25,1) 0%, rgba(0,0,0,1) 100%);*/
}
.border-t { grid-area: border-t; /*background-image: url(../img/g54.png);*/}
.border-b { grid-area: border-b;}
.border-l { grid-area: border-l;}
.border-r { grid-area: border-r;}
/*.border-tr { background: rgb(74,74,74); background: radial-gradient(circle at 0% 100%, rgba(74,74,74,1) 0%, rgba(185,185,185,1) 100%);}
.border-br { background: rgb(74,74,74); background: radial-gradient(circle at 0% 0%, rgba(74,74,74,1) 0%, rgba(185,185,185,1) 100%);}
.border-bl { background: rgb(74,74,74); background: radial-gradient(circle at 100% 0%, rgba(74,74,74,1) 0%, rgba(185,185,185,1) 100%);}
.border-tl { background: rgb(74,74,74); background: radial-gradient(circle at 100% 100%, rgba(74,74,74,1) 0%, rgba(185,185,185,1) 100%);}*/

a{
    text-decoration: inherit;
    color: inherit;
    &:visited{
        color: inherit;
    }
}
/*------------------------------------------------------------------------------------------------------------------
--------------------------------------  __  __  ___  __ __ ____   ___  ____   -------------------------------------- 
--------------------------------------  ||\ || // \\ || || || )) // \\ || \\  --------------------------------------
--------------------------------------  ||\\|| ||=|| \\ // ||=)  ||=|| ||_//  --------------------------------------
--------------------------------------  || \|| || ||  \V/  ||_)) || || || \\  --------------------------------------
--------------------------------------------------------------------------------------------------------------------*/
.nav-bar{
    position: sticky;
    top: 0px;
    background: #00ff00;
    margin: 0;
    width: 100%;
    height: fit-content;
}
.menu{
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    flex-wrap: wrap;
}
.menu-item{
    font-size: 12px;
    list-style-type: none;
    border: 1px solid #00ff00;
    padding: 1px;
    margin: 1px;
    background: black;
    &:hover{
        background-color: #00ff00;
        color: black;
        border: 1px solid black;
        cursor: pointer;
    }
}
/*--------------------------------------------------------------------------------------------------------------------
-----------------------------------____   ___    ___   ____      ___   __  __  ____-----------------------------------
-----------------------------------|| \\ // \\  // \\ ||        // \\  ||\ || ||   -----------------------------------
-----------------------------------||_// ||=|| (( ___ ||==     ((   )) ||\\|| ||== -----------------------------------
-----------------------------------||    || ||  \\_|| ||___     \\_//  || \|| ||___-----------------------------------
--------------------------------------------------------------------------------------------------------------------*/
.personal-info{
    box-sizing: border-box;
    height: 100%;
    min-height: auto;
    border: 20px solid;
    border-image-slice:85 83 83 84;
    border-image-width:20px 20px 20px 20px;
    border-image-outset:0px 0px 0px 0px;
    border-image-repeat:round round;
    border-image-source:url(../img/asterisk-border.png);
    padding: 1%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr 2fr 0.5fr;
    grid-template-areas: 
        "info info info info info info info info"
        "heading heading heading heading heading . img img"
        "btm btm btm btm btm btm btm btm"
}
@media screen and (max-width: 500px){
    .personal-info{
        grid-template-rows: 1fr 1fr 1fr 0.5fr;
        grid-template-areas: 
            "info info info info info info info info"
            "heading heading heading heading heading heading heading heading"
            ". . img img img img . ."
            "btm btm btm btm btm btm btm btm";
    }
    .personal-info-mumbojumbo{
        display: none;
    }
    .menu{
        justify-content: flex-start;
    }
    .menu-item{
        font-size: 9px;
    }
}
.personal-info-top{
    grid-area: info;
}
.personal-info-status{
    background: #00ff00;
    color: black;
    text-align: center;
}
.personal-info-heading{
    grid-area: heading;
    font-size: 8px;
}
.personal-info-img{grid-area: img;}
.personal-info-warning{
    grid-area: btm;
    text-align: justify;
    font-size: 12px;
    background: #00ff00;
    p{
        margin-bottom: 0;
        color: black;
    }
}
.model-name{
    text-align: right;
}
.personal-info__name-ascii{
    width: 100%;
}
.personal-info__profile-picture{
    max-width: 100%;
}
/*-------------------------------------------------------------------------------------------------------------------
----------------------------------- ____   ___    ___   ____    ______ __    __   ___  ------------------------------
----------------------------------- || \\ // \\  // \\ ||       | || | ||    ||  // \\ ------------------------------
----------------------------------- ||_// ||=|| (( ___ ||==       ||   \\ /\ // ((   ))------------------------------
----------------------------------- ||    || ||  \\_|| ||___      ||    \V/\V/   \\_//-------------------------------
---------------------------------------------------------------------------------------------------------------------*/
.modules{
    display: flex;
    // flex-direction: column;
    justify-content: space-evenly;
    // align-items: center;
    height: 400px;
    flex-wrap: wrap;
}
.modules__names{
    font-size: 30px;
}
.modules__heading{
    width: 100%;
    height: 100px;
    text-align: center;
}
.modules__item{
    width: 120px;
    height: 130px;
    cursor: pointer;
    // height: 15vh;
    // width: 75vw;
    // border: 1px dashed #00ff00;
    // transition: 200ms ease;
    // overflow-y: hidden;
    // &:hover{
    // flex-grow: 2;
    // }
    // pre{
    //     display: block;
    // }
    // p{
    //     display: block;
    //     white-space: normal;
    //     margin: 30px;
    // }
}
#langTech{
    color: black;
    font-size: 4rem;
    text-align: center;
    height: 120px;

}
.itemText{
    font-size: 0.6rem;
    background-color: black;
    color:#00ff00;
}
.itemPic{
    width: 100%;
    font-family: 'Mada', sans-serif;
    background-color: #00ff00;
}
#webProc{
    // background-image: url(../img/logo-websites-31321.png);
    background-size: cover;
}
#eduMod{
    // background-image: url(../img/students-cap.png);
    background-size: cover;
}
.label{
    background-color: #00ff00;
    color: black;
}
// .languages{
//     width: 40%;
//     margin: 5em auto;
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     grid-template-rows: repeat(7, 1fr);
//     gap: 3%;
// }
.faded-asterisk{
    opacity: 0.1;
}
.skills{
    width: 40%;
    margin: 5em auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 3%;
}
.appWindow{
    border: 1px solid lime;
    width: 60%;
    min-height: 40%;
    // flex-wrap: wrap;
    // display: flex;
    position: absolute;
    overflow: hidden;
    top: 210px;
    background-color: black;
    // justify-content: flex-start;
}
.appTopBar{
    display: flex;
    height: 5%;
    width: 100%;
}
.escBtn{
    width: 5%;
    height: 100%;
    border: 1px solid lime;
    box-sizing: border-box;
    text-align: center;
    padding-top: 2px;
    cursor: pointer;
}
.appBar{
    background-color: lime;
    width: 95%;
    height: 100%;
    color: black;
    overflow: hidden;
    border: 1px solid lime;
    padding-top: 2px;
    cursor: default;
}
.appContents{
    width: 100%;
    height: 95%;
    padding: 1px;
}
// #appIcon{
//     width: 50px;
//     height: 50px;
//     cursor: pointer;
//     background-color: lime;
// }
// .appExpand{
//     display: flex;
// }

/*--------------------------------------------------------------------------------------------------------------------
---------------------------- ____   ___    ___   ____    ______ __  __ ____   ____  ____-----------------------------
-----------------------------|| \\ // \\  // \\ ||       | || | ||  || || \\ ||    ||   -----------------------------
-----------------------------||_// ||=|| (( ___ ||==       ||   ||==|| ||_// ||==  ||== -----------------------------
-----------------------------||    || ||  \\_|| ||___      ||   ||  || || \\ ||___ ||___-----------------------------
--------------------------------------------------------------------------------------------------------------------*/

.work{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(15, auto);
    width: 100%;
    height: auto;
    /*min-height: 100vh;*/
    grid-template-areas:
        "info info info info info"
        "year emp desc desc desc"
        "a1 a2 a3 a3 a3"
        "b1 b2 b3 b3 b3"
        "c1 c2 c3 c3 c3"
        "d1 d2 d3 d3 d3"
        "e1 e2 e3 e3 e3"
        "f1 f2 f3 f3 f3"
        "g1 g2 g3 g3 g3"
        "h1 h2 h3 h3 h3"
        "i1 i2 i3 i3 i3"
        "j1 j2 j3 j3 j3"
        "k1 k2 k3 k3 k3"
        "l1 l2 l3 l3 l3"
        "btm btm btm btm btm";
    border-top: 1px dashed #00ff00;
}
.heading{
    text-align: center;
}
.table-column-wrapper{
    display: contents;
    div{
        border: solid #00ff00;
        border-width: 1px 1px 0px;
        border-top: 1px dashed #00ff00;
        padding: 3px;
    }
    .item-btm{
        border-bottom-width: 1px;
    }
    .work__l1{grid-area: l1; border-bottom-width: 1px;}
    .work__l2{grid-area: l2; border-bottom-width: 1px;}
    .work__l3{grid-area: l3; border-bottom-width: 1px;}
}

.work__top{grid-area: info;}
.work__year{grid-area: year; background-color: #00ff00;
    color: black;}
.work__employer{grid-area: emp; background-color: #00ff00;
    color: black;}
.work__description{grid-area: desc; background-color: #00ff00;
    color: black;}
.work__a1{grid-area: a1;}
.work__a2{grid-area: a2;}
.work__a3{grid-area: a3;}
.work__b1{grid-area: b1;}
.work__b2{grid-area: b2;}
.work__b3{grid-area: b3;}
.work__c1{grid-area: c1;}
.work__c2{grid-area: c2;}
.work__c3{grid-area: c3;}
.work__d1{grid-area: d1;}
.work__d2{grid-area: d2;}
.work__d3{grid-area: d3;}
.work__e1{grid-area: e1;}
.work__e2{grid-area: e2;}
.work__e3{grid-area: e3;}
.work__f1{grid-area: f1;}
.work__f2{grid-area: f2;}
.work__f3{grid-area: f3;}
.work__g1{grid-area: g1;}
.work__g2{grid-area: g2;}
.work__g3{grid-area: g3;}
.work__h1{grid-area: h1;}
.work__h2{grid-area: h2;}
.work__h3{grid-area: h3;}
.work__i1{grid-area: i1;}
.work__i2{grid-area: i2;}
.work__i3{grid-area: i3;}
.work__j1{grid-area: j1;}
.work__j2{grid-area: j2;}
.work__j3{grid-area: j3;}
.work__k1{grid-area: k1;}
.work__k2{grid-area: k2;}
.work__k3{grid-area: k3;}
.work__l1{grid-area: l1; border-bottom-width: 1px;}
.work__l2{grid-area: l2; border-bottom-width: 1px;}
.work__l3{grid-area: l3; border-bottom: solid 1px #00ff00;}

/*--------------------------------------------------------------------------------------------------------------
----------------------------- ____   ___    ___   ____     ____   ___   __ __ ____ -----------------------------
----------------------------- || \\ // \\  // \\ ||       ||     // \\  || || || \\-----------------------------
----------------------------- ||_// ||=|| (( ___ ||==     ||==  ((   )) || || ||_//-----------------------------
----------------------------- ||    || ||  \\_|| ||___    ||     \\_//  \\_// || \\-----------------------------
---------------------------------------------------------------------------------------------------------------*/
.education{
    display: flex;
    flex-wrap: wrap;
}
.edu__top{
    width: 100%;
}
.eduGrid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    width: 100%;
    // height: auto;
    // min-height: 100vh;
    grid-template-areas:
        // "info info info info info"
        "year school desc desc desc"
        "a1 a2 a3 a3 a3"
        "b1 b2 b3 b3 b3"
        "c1 c2 c3 c3 c3"
        "d1 d2 d3 d3 d3"
        "e1 e2 e3 e3 e3"
        "btm btm btm btm btm";
    border-top: 1px dashed #00ff00;
}
// .edu__top{grid-area: info;}
.edu__year{grid-area: year;}
.edu__school{grid-area: school;}
.edu__description{grid-area: desc;}
.edu__a1{grid-area: a1;}
.edu__a2{grid-area: a2;}
.edu__a3{grid-area: a3;}
.edu__b1{grid-area: b1;}
.edu__b2{grid-area: b2;}
.edu__b3{grid-area: b3;}
.edu__c1{grid-area: c1;}
.edu__c2{grid-area: c2;}
.edu__c3{grid-area: c3;}
.edu__d1{grid-area: d1;}
.edu__d2{grid-area: d2;}
.edu__d3{grid-area: d3;}
.edu__e1{grid-area: e1;}
.edu__e2{grid-area: e2;}
.edu__e3{grid-area: e3;}
.edu__bottom{grid-area: btm;}

/*------------------------------------------------------------------------------------------------------------------------------
 -------------------------------------____   ___    ___   ____     ____ __ __ __  ____------------------------------------------
 -------------------------------------|| \\ // \\  // \\ ||       ||    || || || ||   ------------------------------------------
 -------------------------------------||_// ||=|| (( ___ ||==     ||==  || \\ // ||== ------------------------------------------
 -------------------------------------||    || ||  \\_|| ||___    ||    ||  \V/  ||___------------------------------------------
 -----------------------------------------------------------------------------------------------------------------------------*/

 .portfolio{
    border-top: 1px dashed #00ff00;
 }
.portfolio-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    /*height: 100vh;*/
    flex-wrap: wrap;
    align-items: center;
}
.portfolio-item{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #00ff00;
    border-radius: 10px;
    width: 200px;
    height: 180px;
    overflow: hidden;
}

.portfolio-item__picture{
    width: 80%;
    padding: 5%;
}
.portfolio-item__text-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #00ff00;
    color: black;
    border-radius: 0 0 10px 10px;
    flex-grow: 2;
}
.portfolio-item__text{
    text-align: center;
}
.portfolio-item--empty{
    justify-content: center;
    .portfolio-item__text-wrapper{
        flex-grow: 0;
    }
}
#dynamicCont{
    height: 100%;
    width: 100%;
    // display: flex;
}


/*------------------------------------------------------------------------------------------------------------------------------
-----------------------------  __          __   __                     __                  __            -----------------------
----------------------------- |  |--.-----|  |_|  |_.-----.--------.  |  |--.-----.----.--|  .-----.----.-----------------------
----------------------------- |  _  |  _  |   _|   _|  _  |        |  |  _  |  _  |   _|  _  |  -__|   _|-----------------------
----------------------------- |_____|_____|____|____|_____|__|__|__|  |_____|_____|__| |_____|_____|__|  -----------------------
------------------------------------------------------------------------------------------------------------------------------*/
/*.border-b__logo-plaque{ -----------------------BYT UT MOT IMG?------------------------------------
    margin: 0 0 0 50%;
    background: linear-gradient(180deg, #2e2e2e 0%, #8a8a8a 100%);
}
.border-b__logo{
    margin: 0 0 0 50%;
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: xx-large;
    border-image: 
}*/